PORT=
VTEX_SHA256_HASH=
SUPABASE_URL=
SUPABASE_KEY=
PRODUCT_EANS=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Slack Notifications (Optional)
# Envia un msj a Slack con el estado de los JOBS 
SLACK_WEBHOOK_URL=

# API Authentication (Required for scraper endpoints)
# Usada para validar los llamados que se hacen a esta aplicacion via api
API_TOKEN=

# Webhook Notifications (Optional)
# Url donde se reciben los estados de los jobs 
WEBHOOK_URL=

# Job Manager Settings (Optional)
# Tiempo en Horas que la informacion de los jobs es retenida por la aplicacion
JOB_RETENTION_HOURS=24
